
p{
    text-align: center;
}
h1{
    text-align: center;
}
img {
    width: 300px;
    height: 199px;
    border: 1px solid #000;
}
.center-image {
    /*this sets the picture to move to the middle*/
    text-align: center;
    /*this tells it to but the img in block and not inline*/
    display: block;
    /*this sets the margin (space between leftScreen and leftImage) to become whatever it needs to be (lets it float horizontally).
    If you dont set it to auto, it centers the image and then the margin is set to 0 which sucks it right back over.*/
    margin: auto;
}
